/Team_Project_by_Terminal/TeamProjectByTerminal/bin/
/Team_Project_by_Terminal/TeamProjectByTerminal/idea/
/Team_Project_by_Terminal/TeamProjectByTerminal/.settings/
/Team_Project_by_Terminal/TeamProjectByTerminal/.classpath/
/Team_Project_by_Terminal/TeamProjectByTerminal/.project/
/Team_Project_by_Terminal/TeamProjectByTerminal/TeamProjevtByTerminal.iml